
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  display: flex;
  justify-content:center;
  flex-direction: columns;
  align-items: center;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}
form {
  margin-top: 23vh;
  background-color: #fff;
  padding: 30px 60px;
  border-radius: 10px;
  min-width: 100vh;
}
#formtop{
     height: 50vh;
}

form p.choose-email{
  text-align:center;
}
h2{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align:center;
    margin: 30px 20px 0; 
    box-shadow: 2px 3px 8px #d3f7ff71;
    border-radius: 50px;
    margin-bottom: 10vh;
}
form .inputs {
  display: flex;
  flex-direction: column;
}
form .inputs input[type='email'], input[type='password']{
    width: 100%;
    border: none;
    border-bottom: 1px solid #1977cc;
    /* background: none; */
    padding: 10px 5px;
    margin-bottom: 5px;
    /* color: #fff; */
}
 select{
     width: 100%;
    border: none;
    border-bottom: 1px solid #1977cc;
    background: none;
    padding: 10px 5px;
    margin-bottom: 10px;
    color: #0000; 
 }
 form input[type='email']{
    width: 100%;
    border: none;
    border-bottom: 1px solid #1977cc;
    /* background: none; */
    padding: 10px 5px;
    margin-bottom: 10px;
    /* color: #0000;  */
    /* font-size: 20vh; */
 }
 form input[type='text']{
    width: 100%;
    border: none;
    border-bottom: 1px solid #1977cc;
    background: none;
    padding: 10px 5px;
    margin-bottom: 10px;
    color: #fff; 
 }
form p.inscription{
  font-size: 14px;
  margin-bottom: 20vh;
  color: #1977cc;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
}
span a {
    border: 1px solid transparent;
    padding: 1rem 3rem;
    /* color:#fff; */
    background-color: #1977cc;
    border-radius: 50px;
    margin-top: -0,5rem;
    font-size: 1rem;
    transition: transform .3s, box-shadow .3s;
}
form  span a:hover{
    /* color:#fff; */
    box-shadow: 3px 5px 15px #1977cc;
    transform: translate(-5px);
}
.card-header .form-header{
    text-align: center;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}
 a {
    color: #1977cc;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -9px;
}
